@charset "UTF-8";
/*使用scss编写comm.css——css reset*/
*{
  margin: 0;
  padding: 0;
}

a{
  color: #000;
  text-decoration: none;
}


ul,ol{
  list-style: none; 
}

ol{
  padding: 0 0 0 20px;
}

p{
  margin-bottom: 0 !important;
}

img{
  border: 0;
  vertical-align: middle;
}